PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=blog
DB_USER=root
DB_PASSWORD=001007
DB_TIMEZONE=+08:00
DB_LOGGING=false

JWT_SECRET=7879d56aadd121a82c288ecbb944ce1de11b2e8f3ed918eea529cd42e947462c7e643de9fdb76c0f41dcf9df382c926764c40f8a3f803bf70d0ecec312d24556
CORS_ORIGIN=http://localhost:5173,http://localhost:5174
UPLOAD_PATH=uploads

# Set to true only when you intentionally want Sequelize to alter existing tables.
DB_SYNC_ALTER=false
